/* --------------------------------
    SASS Variables
-------------------------------- */

$darkOrange: rgb(227, 142, 21);
$orange: rgb(242, 173, 75);
$pink: rgb(236, 80, 98);
$teal: rgb(132, 182, 180);
$yellow: rgb(242, 202, 13);
$grey: rgb(91, 93, 92);
$purple: rgb(168, 123, 139);
$greyFont: rgb(81, 79, 82);
$darkGreyFont: rgb(41, 39, 42);
$lightGreyFont: rgb(227, 220, 216);
$serifFont: "freight-text-pro",serif;
$sansFont: "franklin-gothic-ext-comp-urw",sans-serif;

@mixin edgeGradient($color, $darkenAmount) {
    background-image: -moz-linear-gradient(left, darken($color, $darkenAmount) 0%, $color 10%, $color 90%, darken($color, $darkenAmount) 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,darken($color, $darkenAmount)), color-stop(10%,$color), color-stop(90%,$color), color-stop(100%,darken($color, $darkenAmount))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(left,  darken($color, $darkenAmount) 0%,$color 10%,$color 90%,darken($color, $darkenAmount) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(left, darken($color, $darkenAmount) 0%,$color 10%,$color 90%,darken($color, $darkenAmount) 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(left, darken($color, $darkenAmount) 0%,$color 10%,$color 90%,darken($color, $darkenAmount) 100%); /* IE10+ */
    background-image: linear-gradient(to right, darken($color, $darkenAmount) 0%,$color 10%,$color 90%,darken($color, $darkenAmount) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color', endColorstr='$color',GradientType=1 ); /* IE6-8 */
}

@mixin searchButton() {
    background-image: url(images/forms/search-arrow.png), -moz-linear-gradient(left, darken($orange, 10%) 0%, $orange 10%, $orange 90%, darken($orange, 10%) 100%); /* FF3.6+ */
    background-image: url(images/forms/search-arrow.png), -webkit-gradient(linear, left top, right top, color-stop(0%,darken($orange, 10%)), color-stop(10%,$orange), color-stop(90%,$orange), color-stop(100%,darken($orange, 10%))); /* Chrome,Safari4+ */
    background-image: url(images/forms/search-arrow.png), -webkit-linear-gradient(left, darken($orange, 10%) 0%,$orange 10%,$orange 90%,darken($orange, 10%) 100%); /* Chrome10+,Safari5.1+ */
    background-image: url(images/forms/search-arrow.png), -o-linear-gradient(left, darken($orange, 10%) 0%,$orange 10%,$orange 90%,darken($orange, 10%) 100%); /* Opera 11.10+ */
    background-image: url(images/forms/search-arrow.png), -ms-linear-gradient(left, darken($orange, 10%) 0%,$orange 10%,$orange 90%,darken($orange, 10%) 100%); /* IE10+ */
    background-image: url(images/forms/search-arrow.png), linear-gradient(to right, darken($orange, 10%) 0%,$orange 10%,$orange 90%,darken($orange, 10%) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$orange', endColorstr='$orange',GradientType=1 ); /* IE6-8 */
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: -10000px;
    width: 27px;
    height: 32px;
    @include borderShadow(1px, 2px, 3px, 0px, 0.5);
}

@mixin shadow {
    -webkit-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.1);
}

@mixin borderShadow($xPos, $yPos, $blur, $spread, $alpha) {
    -webkit-box-shadow: $xPos $yPos $blur $spread rgba(0, 0, 0, $alpha);
            box-shadow: $xPos $yPos $blur $spread rgba(0, 0, 0, $alpha);
}

@mixin textshadow {
    text-shadow: 1px 1px 0px #fff;
    filter: dropshadow(color=#fff, offx=1, offy=1);
}

@mixin innerShadow {
    -webkit-box-shadow: inset 1px 2px 2px 0px rgba(0, 0, 0, 0.3);
            box-shadow: inset 1px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
	        border-radius: $radius;
}

@mixin transition($duration) {
    -webkit-transition: all $duration ease-in-out;
    -moz-transition: all $duration ease-in-out;
    -o-transition: all $duration ease-in-out;
    transition: all $duration ease-in-out;
}

@mixin grayFilter {
    -webkit-filter: grayscale(100%) brightness(-30%) blur(5px);
       -moz-filter: grayscale(100%) brightness(-30%) blur(5px);
        -ms-filter: grayscale(100%) brightness(-30%) blur(5px);
         -o-filter: grayscale(100%) brightness(-30%) blur(5px);
            filter: grayscale(100%) brightness(-30%) blur(5px);
}