/* --------------------------------
    Common Elements
-------------------------------- */

body {
    background: url(../img/homepage/bg/bgtile.jpg) top left repeat #666;
    font-size: 15px;
}

h1, h2, h3, h4, h5, p, label, input, input[type="submit"], textarea, li {
    font-family: $serifFont;
    color: $lightGreyFont;
    font-size: 1em;
}
input, input[type="submit"], textarea {
    color: $darkGreyFont;
}
h1 {
    font-size: 3em;
    text-align: center;
    font-weight: normal;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.2em;
}
h5 {
    font-size: 1.1em;
}

a {
    color: $orange;
}

a.fancy {
    text-decoration: none;
    color: $darkOrange;
    @include textShadow(1px, 1px, 0px, rgba(255,255,255,0.3));
    
    &.on-dark-bg {
        color: rgba(220,220,220,0.7);
        @include textShadow(-1px, -1px, 0px, rgba(0,0,0,1));
    }
    
    &.dark {
        color: $darkGreyFont;
        @include textShadow(1px, 1px, 0px, rgba(255,255,255,0.1));
    }
}

.header-title {
    font-family: $sansFont;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1em;
    font-weight: normal;
}

section, footer {
    background: url(../img/homepage/shadow-top.png) top left repeat-x;
}

section:first-of-type {
    background: none;
}

section {
    padding-top: 30px;
}

// ::-webkit-scrollbar {
//     width: 8px;
// }

// ::-webkit-scrollbar:horizontal {
//     height: 8px;
// }
 
// ::-webkit-scrollbar-track {
//     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
//     border-radius: 2px;
// }
 
// ::-webkit-scrollbar-thumb {
//     border-radius: 2px;
//     background: rgba(255,255,255,0.3);
//     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
// }
// ::-webkit-scrollbar-thumb:window-inactive {
//     background: rgba(255,255,255,0.3);
// }

.level-one {
    color: $orange;
}
.level-two {
    color: $pink;
}
.level-three {
    color: $teal;
}

.row {
    width: 900px;
    margin: 0 auto;
}
@media only screen 
    and (max-width : 1024px) {
    
    .row {
        width: 94%;
        padding: 0 3%;
    }
    
}
.row-header {
    padding: 0 30px;
}

.col-wrap {
    overflow: hidden;
    width: 100%;
}

.two-col {
    float: left;
    width: 50%;
    
    &.padded {
        width: 45%;
    }
    
    &.margin-left {
        margin-left: 5%;
    }
    
    &.margin-right {
        margin-right: 5%;
    }
    
    &.align-center {
        text-align: center;
    }
    &.align-left {
       text-align: left; 
    }
    &.align-right {
        text-align: right;
    }
}

.four-col {
    float: left;
    width: 25%;
}

.float-left {
    float: left;
    
    &.center {
        text-align: center;
    }
    &.left {
       text-align: left; 
    }
    &.right {
        text-align: right;
    }
}


.contact-button {
    display: block;
    background: url(../img/homepage/contact/icons.png) top left no-repeat;
    margin: 0 0 1em 0;
    padding: 2px 0 0 40px;
    height: 32px;
    text-decoration: none;
    
    @media only screen and (max-width: 862px) {
        padding-top: 5px;
        height: 29px;
    }
    @media only screen and (max-width: 693px) {
        padding-top: 7px;
        height: 27px;
    }
    
    &.contact-button--small {
        font-size: 0.9em;
        padding-top: 7px;
        height: 27px; // 14px - 5px padding
    }
    
    &.contact-button--twitter {
        background-position-y: 0px;
    }
    &.contact-button--youtube {
        background-position-y: -33px;
    }
    &.contact-button--email {
        background-position-y: -66px;
    }
    &.contact-button--rss {
        background-position-y: -99px;
    }
    &.contact-button--facebook {
        background-position-y: -132px;
    }
    &.contact-button--openhouse {
        background-position-y: -165px;
    }
    &.contact-button--street {
        background-position-y: -198px;
    }
       
    .contact-button__title {
        color: rgb(224,218,216);
        margin: 0;
        padding: 0;
        font-size: 1.8em;
        @media only screen and (max-width: 862px) {
            font-size: 1.4em;
        }
        @media only screen and (max-width: 693px) {
            font-size: 1.1em;
        }
    }

    .contact-button__subtitle {
        font-family: $sansFont;
        font-size: 1.2em;
        font-weight: normal;
        letter-spacing: 1px;
        margin: 0;
        padding: 0;
    }
}

.main-title {
  font-family: $sansFont;
}

.secondary-title {
    font-family: $serifFont;
}

.divider {
    width: 900px;
    height: 3px;
    background: url(../img/homepage/divider.png) top left no-repeat;
    @media only screen and (max-width : 1023px) {
        width: 100%;
    }
}

@-webkit-keyframes shrink {
    0% { -webkit-transform: scale(1.1); }
    100% { -webkit-transform: scale(1.0); }
}
@-webkit-keyframes show {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes hide {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(255,255,255,0.5);
    z-index: 9999;
    top: 0;
    left: 0;
    
    &.show {
        -webkit-animation: show 0.3s ease-out;
    }
    
    .overlay-inner {
        margin: 160px auto;
        width: 70%;
        padding: 30px 30px 30px 30px;
        background: rgba(255,255,255,1);
        position: relative;
        overflow: hidden;
        @include borderShadow(0px, 0px, 10px, 3px, 0.5);
        
        @media only screen and (max-width : 1024px) {
            margin-top: 20px;
            height: 500px;
            overflow-y: auto;
        }
        @media only screen and (max-width : 768px) {
            height: 700px;
        }
        @media only screen and (max-width : 442px) {
            height: 320px;
        }
        
        &.show {
            -webkit-animation: shrink 0.4s ease-out;
        }
        
        .close {
            display: block;
            position: absolute;
            z-index: 10;
            top: 20px;
            right: 20px;
            width: 36px;
            height: 37px;
            background: url(../img/homepage/overlay-close-button.png) top left no-repeat;
        }
        .overlay-name {
            color: $orange;
            font-size: 4em;
            text-align: left;
            letter-spacing: 2px;
            margin: 0 0 20px 0;
            padding: 0;
        }
        .overlay-title,
        .overlay-company,
        .overlay-twitter {
            color: $orange;
            margin: 0;
            padding: 0;
            line-height: 1em;
        }
        .overlay-body {
            color: rgb(84,83,83);
            margin: 0.5em 0 0 0;
        }
        .overlay-headshot {
            float: right;
            margin: 10px;
            border: 1px solid $orange;
        }
    }
}

.callout {
    @include transitionWith(opacity, 0.3s);
    background:rgba(255,255,255,1.0);
    padding: 10px;
    width: 120px;
    margin: 5px;
    border-radius: 4px;
    position: absolute;
    z-index: 200;
    box-shadow: 0px 0px 7px rgba(0,0,0,0.5);
    
    &.hide {
        opacity: 0;
    }
    &.show {
        opacity: 1;
    }
    
    h2 {
        display: inline-block; // So we can get the width
        color: $darkGreyFont;
        font-size: 1em;
        padding: 0;
        margin: 0;
    }
    
    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        bottom: -10px;
        left: 10%;
        background: rgba(255,255,255,1.0);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        /* reduce the damage in FF3.0 */
        display: block;
        width: 24px;
        height: 24px;
    }
    
    .callout__close {
        position: absolute;
        top: 5px;
        right: 5px;
        padding: 0 3px;
        background: rgba(240,240,240,0.8);
        border: 1px solid rgba(0,0,0,0.15);
        border-radius: 7px;
        transition: all 0.3s ease-out;
        box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.5),
        0 0 2px rgba(0,0,0,0.3);

        /* Font styles */
        color: rgba(150,150,150,0.7);
        font-size: 0.7em;
        text-decoration: none;
        text-shadow: 1px 1px rgba(255,255,255,0.9);
        
        &:hover  { background: $orange; }
    }
}



/*
--------- SWIPE ----------
*/

.swipe {
    padding-bottom:20px;
    position:relative;
    z-index:1;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
}
.swipe li div, .swipe div div div {
    margin:0 10px;
    padding:50px 10px;
    background:#1db1ff;
    font-weight:bold;
    color:#fff;
    font-size:20px;
    text-align:center;
}
