/* --------------------------------
    Donate Section
-------------------------------- */

.donate {
	overflow: hidden;
  margin: 0 0 50px 0;
	
	h1 {
    margin-top: 0;
	}
	h2.donation-option {
		font-size: 2em;
		text-align: center;
	}
	h3 {
		font-size: 1.4em;
		color: white;
	}
	h3, h4 {
		margin: 0;
		padding: 1em 0 0 0;
	}
	p {
		margin: 0;
		padding: 0;
	}
	p:last-of-type {
		padding-bottom: 1em; 
	}
  
  .donation-amount {
    
    .donation-amount__elements {
      
      .donation-amount__item {
        padding: 0 0 5px 0;
        
        @media only screen and (max-width: 490px) {
          &.two-col:nth-of-type(1) {
            float: left;
            width: 65%;
          }
          &.two-col:nth-of-type(2) {
            float: left;
            width: 35%;
          }
        }
      }
      
      .donation-amount__prefix {
        display: block;
        float: left;
        padding-top: 6px;
        width: 5%;
        font-size: 2em;
      }
      
      .donation-amount__amount {
        width: 85%;
        margin: 0 0 0 5%;
        font-size: 1.4em;
        font-family: $serifFont;
        padding: 15px 0 16px 5%;
      }
      
      .donation-amount__submit {
        width: auto;
      }
      
    }
    
  }

	.toggle {
		display: block;
		text-decoration: none;
		color: white;
		@include edgeGradient($orange, 10%);
		padding: 20px 0;
		width: 230px;
		text-align: center;
    @include innerShadow(0px, 2px, 4px, 0px, 0.4);

		&:hover, 
    &:active {
    	@include innerShadow(0px, 5px, 5px, 0px, 0.2);
    }
		&.third {
			width: 230px;
		}
		&.half {
			width: 360px;
		}
	}
  
  .form-item {
    display: block;
    overflow: hidden;
    margin: 10px 0 0 0;
    
    label {
      display: block;
    }
    
    input {
      width: 100%;
    }
    
    #uniform-card-expiration-year span {
      width: 70px;
    }
    #uniform-billing-state span {
      width: 116px;
    }
  }
	
	form#donation-form {
		margin: 20px 0 40px 0;
		overflow: hidden;
    
    .payment-errors {
      font-size: 1.3em;
      color: rgb(240, 120, 0);
    }
		
    .donation-form__body {
      @include transition(1s);
      padding-bottom: 10px;
      position: relative;
      
			&.hide {
        height: 0;

        #donation-form-submit {
          display: none;
        }
      }
      &.show {
        height: auto;
        max-height: 1000px;

        #donation-form-submit {
          display: block;
        }
      }
      
      .card-number {
        width: 65%
      }
      
      .card-cvv {
        width: 30%;
      }
		}
		
  	#card-full-name {
  		// width: 300px;
  	}
  	#card-number {
  		
  	}
  	#card-cvv {
  		
  	}
  	#billing-street {
  		// width: 314px;
  	}
  	#billing-city {
  		// width: 150px;
  	}
  	#billing-zipcode {
  		// width: 100px;
  	}
  	#billing-telephone {
  		// width: 132px;
  	}
  	#billing-email {
  		// width: 160px;
  	}
    
    #donation-form-submit {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
  
  .donate-button {
    border-top: 1px solid gray;
    
    h3 {
      text-align: center;
    }
    
    .centered {
      width: 210px;
    }
  }
  
  .centered {
    margin: 0 auto;
    text-align: center;
  }
  
  #item_price_1 {
    margin: 5px 0 0 0;
  }
}

