/* --------------------------------
    Key Offerings Section
-------------------------------- */

.keyofferings {
    padding: 0 0 130px 0;
    background: none;
    @include transition(0.4s);
    
    &.afterintro {
        margin-top: -100px;
    }
    
    h1 {
        margin-top: 0;
        padding-top: 0.5em;
    }
    
    .keyofferings__offerings {
        position: relative;
        
        .keyofferings__offerings__item {
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            @include transition(0.5s);
            
            p {
                font-size: 1.2em;
            }
            
            &.hide {
                opacity: 0;
            }
            &.show {
                opacity: 1;
            }
            
            .keyofferings__offerings__item__figure {
                background: rgba(255,255,255,0.7);
                border-radius: 8px;
                margin: 0 20px 0 0;
                padding: 6px;
                float: left;
                width: 30%;
                
                img {
                    width: 100%;
                    border-right: 1px solid rgba(255,255,255,0.5);
                    border-bottom: 1px solid rgba(255,255,255,0.5);
                    border-left: 1px solid rgba(0,0,0,0.4);
                    border-top: 1px solid rgba(0,0,0,0.4);
                    border-radius: 4px;
                }
                
                .caption {
                    color: $darkGreyFont;
                    font-style: italic;
                    padding: 5px 0 0 2px;
                    margin: 0;
                }
            }
        }
    }
}



.keyofferings-list {
    overflow: hidden;
    margin: 0 auto 40px auto;
    padding: 0;
    
    .keyofferings-list__item {
        float: left;
        margin: 0 8px 10px 0;
        
        display: block;
        
        @media only screen and (max-width : 1024px) {
            // make the buttons 3-up;
            margin-right: 1%;
            margin-left: 0;
            width: 32.333333333%;
            padding-left: 0;
            padding-right: 0;
        }
        // The button "Technology Innovation" has gone to two lines, so wrap to 2-up
        @media only screen and (max-width : 709px) {
            // make the buttons 3-up;
            margin-right: 1%;
            margin-left: 0;
            width: 49%;
            padding-left: 0;
            padding-right: 0;
        }
        
        &.hide {
            opacity: 0;
        }
        
        &.show {
            opacity: 1;
        }

        &:nth-child(even) {
            //margin-right: 0;
        }
        
        &:last-of-type {
            margin-right: 0;
        }
        
        a {
            
            
            @media only screen and (max-width: 468px) {
                font-size: 1.2em;
            }
            @media only screen and (max-width: 320px) {
                font-size: 1em;
                padding-left: 5px;
                padding-right: 5px;
            }

            
            
            &.engineering {
                background: $teal; /* Old browsers */
                @include edgeGradient($teal, 10%);
            }
            &.ideation {
                background: $pink; /* Old browsers */
                @include edgeGradient($pink, 10%);
            }
            &.innovation {
                @include textShadow(1px, 1px, 0px, rgba(255,255,255,0.5));
                color: $darkGreyFont;
                background: $yellow; /* Old browsers */
                @include edgeGradient($yellow, 10%);
            }
            &.education {
                background: $grey; /* Old browsers */
                @include edgeGradient($grey, 10%);
            }
            &.insights {
                @include textShadow(1px, 1px, 0px, rgba(255,255,255,0.5));
                color: $darkGreyFont;
                background: $orange; /* Old browsers */
                @include edgeGradient($orange, 10%);
            }
            &.systems-thinking {
                background: $purple; /* Old browsers */
                @include edgeGradient($purple, 10%);
            }
        }
    }
}