/* --------------------------------
    Team Section
-------------------------------- */

.team {
    margin: 0 0 80px 0;
    
    h1 {
        font-weight: normal;
        font-size: 3em;
        margin-top: 0;
        padding: 1em 0 0 0;
        text-align: center;
        letter-spacing: 1px;
    }

    .team-members {
        overflow: hidden;
        padding: 0;
        
        
        .team-member {
            display: block;
            float: left;
            width: 178px;
            overflow: hidden;
            position: relative;
            margin: 0 62px 15px 0;
            
            img {
                border: 2px solid;
                width: 98%;
                height: auto;
            }
            
            &.primary img {
                border-color: $orange;
            }
            &.secondary img {
                border-color: $pink;
            }
            &.tertiary img {
                border-color: $teal;
            }
            
            h3, h4, h5 {
                margin: 0;
                padding: 0;
                font-weight: normal;
                color: rgba(255,255,255,0.9);
                line-height: 1.2em;
                @include textShadow(1px, 1px, 0px, rgba(0,0,0,0.5));
            }
            h3 {
                font-size: 1.6em;
                padding-bottom: 0.5em;
                color: rgba(255,255,255,1);
            }
            @media only screen and (max-width : 422px) {    
                h3 {
                    font-size: 1.1em;
                }
            }
            h4 {
                font-size: 1.1em;
            }
            h5 {
                font-size: 1.0em;
            }
        }
        @media only screen and (max-width : 955px) {    
            .team-member {
                margin-right: 20px;
            }
        }
        // Two up
        @media only screen and (max-width : 422px) {    
            .team-member {
                margin-right: 5%;
                width: 45%;
            }
        }
        .team-member.col-last {
            margin-right: 0;
        }
        .team-member-details {
            position: absolute;
            top: 140px;
            left: 0;
            padding: 6px 10px 0 10px;
            height: 179px;
            @include transition(0.2s);
            @include noSelect();
            cursor: pointer;

            p {
                color: #fff;
                line-height: 1.1em;

                a {
                    color: #fff;
                    text-decoration: underline;
                }
                a:after {
                    content: " »";
                }
            }
        }
        .team-member-details.hover {
            top: 0;
        }
        @media only screen and (max-width : 422px) {    
            .team-member-details, 
            .team-member-details.hover {
                top: 105px;
            }
        }
    }
    
    .primary .team-member-details {
        background: rgba($orange, 0.95);
    }
    .secondary .team-member-details {
        background: rgba($pink, 0.95);
    }
    .tertiary .team-member-details {
        background: rgba($teal, 0.95);
    }
}