/* --------------------------------
    Contact and Social Section
-------------------------------- */


.contact {

	h1 {
		margin-top: 0;
		padding-top: 1em;
	}

	.contact__buttons {
		padding-top: 30px;
		
		.contact-button {
			margin-bottom: 1em;
		}
	}
	
	.contact__subtitle {
		padding-left: 40px;
	}

	.contact-section {		
		margin-bottom: 3em;
		
		p {
			margin: 0;
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	.map {
		width: 100%;
    position: relative;

    &::before {
    	content: "";
    	position: absolute;
    	top: 0;
    	right: 0;
    	bottom: 0;
    	left: 0;
    	@include innerShadow(8px, 8px, 15px, 0px, 0.3);
    }
	}
}