footer {
  margin: 0;
  padding: 40px;
  overflow: hidden;
  background-color: $greyBG;

  .contact-button {
    width: 33px;
    float: left;
    text-indent: -10000px;
  }

  .footer-links {
    margin: 0;
    padding: 29px 0 20px 0;

    li {
      list-style-type: none;
      float: left;
      padding: 0 25px 0 0;

      @media only screen and (max-width: 320px) {
        float: none;
        padding-bottom: 10px;
      }

      a {
        color: $lightGreyFont;
        text-decoration: none;
        font-size: 1.5em;
        letter-spacing: 1px;

        &:hover {
          color: $orange;
        }
      }
    }
  }
}

.contact-button {
  margin-bottom: 7px;
}

.footer-link {
  display: none;
}