footer {
	margin: 0 0 2em 0;	
	padding: 40px 0 0 0;
	overflow: hidden;
	
	
	
	
	.three-col {
		float: left;
		width: 33%;
		margin: 0;
		padding: 10px 0 0 0;
		border-top: 1px solid gray;
		vertical-align: top;
		
		@media only screen and (max-width: 654px) {
			width: 100%;
			float: none;
		}
	}
	
	.contact-button {
		margin-bottom: 0.2em;
	}
}