/* --------------------------------
    Location Map Section
-------------------------------- */

#locations-center-tag {
	background: none; // Remove the background on this center tag because there is a Canvas element handling the drawing.
}

.locations {
	background: url(../img/homepage/locations/map.png) top left no-repeat;
	background-size: cover;
	position: relative;
	
	@media only screen and (max-width : 720px) {
		display: none;
	}
	
	// Slightly different shadow than a normal drawer
	&.drawer {
		@include innerShadow(0px, 5px, 5px, 0px, 0.7);
		
		&.peek {
			height: 37px;
		}
	}
	
	.locations__content {
		margin-top: -55px;
		position: relative;
		
		&.hide {
			display: none;
		}
		&.show {
			display: block;
		}
		
		.locations__content__title {
			margin: 0 auto;
			padding-top: 55px;
	    color: #fff;
	    letter-spacing: 3px;
	    @include textShadow(2px, 2px, 5px, rgba(0,0,0,0.9));
		}
	}

	.locations-markers {
		position: absolute;
		top: 0;
		left: 0;

		.marker {
			display: block;
			background: url(../img/homepage/locations/marker.png) top left no-repeat;
			width: 30px;
			height: 36px;
			position: absolute;
			z-index: 10;
			
			h2 {
				display: none; // hide it because it gets moved to the callout
			}
			
			&.show {
				-webkit-animation: show 0.3s ease-out;
			}
			
			&.hide {
				-webkit-animation: hide 0.3s ease-out;
			}
		}
	}

	
}
