.events {
	
	&.drawer {
		
		&.peek {
			height: 37px;
		}
	}
	
	.events__content {
		&.show {
			display: block;
		}
		
		&.hide {
			display: none;
		}
	}
	
	.events__group {
		height: 196px;
		overflow-x: hidden;
		overflow-y: auto;
	}
	
	.events__group__lab {
		
	}
}