/* --------------------------------
    Main Header Section
-------------------------------- */
#header-drawer {
    @include transition(0.5s);
    padding: 0;
    position: fixed;
    z-index: 998;
    left: 0;
    width: 100%;
    height: 341px;
    @include borderShadow(0px, 2px, 5px, 0px, 0.5);
    @include greyGradient();
    
    @media only screen and (max-width: 1024px) and (min-width:721px) {
        position: absolute;
    }
    
    // iPhone
    @media only screen and (max-width : 720px) {
        display: none;
    }
    
    &.show {
        top: 82px;
    }
    
    &.peek {
        top: -180px;
    }
    
    &.hide {
        top: -243px;
    }
    
    .center-tag-wrap, 
    .center-tag {
        width: 158px;
    }
    
    .center-tag {
        position: absolute;
        top: -5px;
        background: url(../img/homepage/bg/center-tag-top.png) top center no-repeat;
        height: 47px;
        z-index: 1000;
        
        span {
            overflow: visible;
            top: 0;
        }
    }
    
    h2, h3 {
        padding: 0;
        margin: 0;
    }
    
    .news {
        padding: 0 40px;
        margin: 0 5%;
        width: 90%;
        height: 100%;
        overflow: hidden;
        
        @media only screen and (max-width: 974px) {
            overflow-y: auto;
        }
        
        &.hide {
            display: none;
        }
        
        &.show {
            display: block;
        }
        
        .news-title {
            padding: 15px 0;
            letter-spacing: 0.5px;
            font-size: 1.5em;
            color: $orange;
        }
        
        .news-jobs {
            height: 220px;
            overflow-y: auto;
            overflow-x: hidden;
        }
        
        .news-job {
            padding: 10px 0 0 0;
            
            .news-job-title {
                color: $greyFont;
                letter-spacing: 1px;
            }
        }
        
        .news-body {
           color: $greyFont;
           padding: 0;
           margin: 0; 
           line-height: 1em;
        }
        
        .horiz-divider {
            float: left;
            display: inline-block;
            background-position: top left;
            background-repeat: no-repeat;
            background-size: contain;
            width: 14px;
            height: 120px;
            margin-top: -30px;
            
            &.left {
               background-image: url(../img/homepage/horiz-divider-left.png);
               border-right: 1px solid rgba(255,255,255,0.1);
               background-position-x: right;
            }
            
            &.right {
                background-image: url(../img/homepage/horiz-divider-right.png);
                border-left: 1px solid rgba(255,255,255,0.1);
                background-position-x: left;
            }
        }
        
        
        .news-primary, .news-secondary {
            overflow: auto;
            overflow-y: hidden;
            display: block;
            float: left;
            position: relative;
        }
        .news-primary {
            width: 59%;
            padding-left: 1%;
        }
        .news-secondary {
            width: 40%;
        }
        
    }
    
    ul {
        position: relative;
        top: 0;
        left: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
        width: 7810px;
        li {
            list-style: none;
            float: left;
            width: 350px;
            height: 65px;
            border-top: 1px solid rgba(50, 50, 50, 0.7);
            margin: 0 10px 6px 10px;
            padding: 10px 10px 0 10px;
            font-size: 0.8em;
            color: rgba(200,200,200,1.0);
            background: rgba(255, 255, 255, 0.05);
            @include border-radius(5px);
        }
    }
}
html.no-svg
{
    .header {
        .logo {
            display: inline-block;
            margin: 10px 0 10px 50px;
            padding: 0;
            background: url(../img/catapult-logo.png) top left no-repeat;
            width: 192px;
            height: 54px;
            
            .logo-img {
                display: none;
            }
        }
    }
}
.header {
	background: url(../img/homepage/navbar-bg.png) top left repeat-x;
    background-size: contain;
	width: 100%;
    overflow: visible;
    padding: 0;
    margin: 0;
    position: fixed;
    z-index: 999;
    
    @media only screen and (max-width: 1024px) {
        position: absolute;
    }
    
    .logo {
        display: inline-block;
        padding: 10px 0 18px 50px;
        // iPhone
        @media only screen
            and (max-width : 720px) {
            padding-left: 10px;
        }
        .logo--full {
            @media only screen and (max-width: 720px) {
                display: none;
            }
        }
        .logo--partial {
            width: 30px;
            height: 30px;
            @media only screen and (min-width: 720px) {
                display: none;
            }
        }
        
    }
    .header-divider {
        background: url(../img/homepage/header-detail.png) top left no-repeat #e38e15;
        width: 100%;
        height: 2px;
    }
    .header-bottom {
        background: url(../img/homepage/shadow-top.png) top left repeat;
        width: 100%;
        height: 15px;
        position: relative;
        margin: 10px 0;
    }
}

/* --------------------------------
    Main Nav Section
-------------------------------- */
.mainnav {
    overflow: hidden;
    float: right;
    background: url(../img/homepage/divider-vert.png) top right no-repeat;
    padding: 29px 0 0 0;
    @media only screen and (max-width: 720px) {
        padding-top: 16px;
    }
    
    ul {
        overflow: hidden;
        padding: 0;
        margin: 0;
    }
    
    .mainnav-item {
        float: left;
        padding: 0 35px 0 0;
        vertical-align: top;
        
        @media only screen and (max-width: 720px) {
            padding-right: 10px;
        }
        
        .mainnav-item-link {
            font-size: 1.6em;
            
            @media only screen 
                and (max-width : 720px) {
                font-size: 1em;
                color: darken($orange, 30%);
            }
            
            &:hover,
            &.active {
                color: white;
                @include textShadow(-1px, -1px, 0px, rgba(0,0,0,0.3));
            }
        }
    }
    .mainnav-item:last-of-type {
        padding-left: 35px;
        padding-right: 28px;
        border-left: 1px solid darken($orange, 10%);
        @media only screen and (max-width: 720px) {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}