
.donors {
	
	.donors__list {
		list-style-type: none;
		overflow: hidden;
		padding: 0;
		margin: 0;
		width: 100%;
		
		.donors__list__item {
			float: left;
			padding: 1%;
		}
	}
}

.overlay__form {
	width: 100%;
  
  .clicky-button {
    margin-top: 20px;
  }
	
	.overlay__form__item {
		width: 100%;
		display: block;
		padding: 5px 0;
	}
	
	.overlay__form__input {
		border: 1px solid #666;
		margin: 0;
		color: black;
	}
  
  input[type="text"] {
    width: 200px;
  }
	
	.hide {
		display: none;
	}
	.show {
		display: block;
	}
	
	textarea {
		width: 520px;
		height: 150px;
	}
}