/* --------------------------------
    Catapult Blog
-------------------------------- */

#page-wrap {
  overflow: hidden;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  min-width: 960px;
  width: 960px;
  
  @media only screen and (max-width: 1024px) {
    width: 96%;
    min-width: 96%;
    padding-top: 25px;
  }
  
  @media only screen and (max-width: 720px) {
    padding-top: 25px;
  }

  @media only screen and (max-widt: 490px) {
    width: 100%;
  }

  .post-header {
    margin-bottom: 30px;
  }
  
  #main-section {
    float: left;
    width: 70%;
    max-width: 850px;
    padding: 40px 20px 0 0;
    
    hr {
      margin-bottom: 0;
    }
    
    .contact-buttons {
      margin: 0;
      padding: 0;
      list-style: none;
      float: right;
      
      li {
        float: left;
        padding-right: 10px;
        
        &:last-of-type {
          padding-right: 0;
        }
        
        a {
          text-indent: -100000px;
        }
      }
    }
    
    @media only screen and (max-width: 720px) {
      float: none;
      width: 100%;
      padding-right: 0;
    }
  }
  
  #main-aside {
    float: left;
    width: 30%;
    
    hr {
      margin-bottom: 20px;
    }
    
    @media only screen and (max-width: 720px) {
      float: none;
      width: 96%;
    }
    
    #main-aside-inner {
      margin: 40px 0;
    }
    
    .contact-button {
      min-width: 244px;
    }
  }
  
  .twitter-list-wrap {
    overflow: hidden;
    margin: 20px 0 0 0;
    height: 500px;
    
    .twitter-list {
      list-style: none;
      padding: 0;
      margin: 0;

      .twitter-list__item {
        padding: 0;
        margin: 0 0 40px 0;
      }
    }
  }
  
}

.post-body {
  img {
    max-width: 100%;
  }
}


// Common style for all post-title elements
.post-title {
  text-align: left;
  font-size: 2.5em;
  line-height: 1em;
  
  a {
    text-decoration: none;
    color: #FFFFFF;
  }
}



/* -------------------
  TAGS
-------------------- */
.tags {
  overflow: hidden;
  margin: 0;
  padding: 0;
  float: left;
  
  .tag {
    list-style: none;
    float: left;
    margin: 0;
    padding-right: 5px;
    
    &:last-of-type {
      padding-right: 0;
    }
  }
}
.category-item {
  display: inline-block;
  text-decoration: none;
  padding: 4px 7px 5px 7px;
  margin: 0;
  background: $orange;
  color: #666;
  font-weight: normal;
  border-top: 1px solid rgba(0,0,0,0.2);
  @include border-radius(1px);
  
  &:hover {
    border-top: 1px solid rgba(255,255,255,0.2);
  }
  
  &.education {
    background: $darkGreyFont;
  }

  &.innovation {
    background: $yellow;
    color: #666;
  }

  &.newsletter {
    background: $pink;
  }

  &.insights {
    background: $orange;
    color: #666;
  }

  &.engineering {
    background: $teal;
  }

  &.ideation {
    background: $pink;
  }
}




/* -------------------
  POST SUMMARY BOX (BLOG HOMEPAGE)
-------------------- */
.post-box {
  display: block;
  overflow: hidden;
  margin: 20px 0 0 0;
  padding: 20px;
  position: relative;  
  
  &.with-bg {
    background: $greyBG;
  }
  
  &:first-of-type {
    margin-top: 0;
  }
  
  &:last-of-type {
    margin-bottom: 40px;
  }
  
  figure {
    float: left;
    width: 30%;
    margin-right: 5%;
  }
  
  .tags {
    margin-top: 20px;
  }
  
  .post-main-link {
    display: block;
    overflow: hidden;
  }
  
  .post-image {
    width: 100%;
  }
  
  &.hover .post-image {
  }
  
  .post-top {
    padding: 0;
    float: left;
    width: 65%;
    
    &.full-width {
      width: 100%;
    }
    
    &.twitter {
      padding-bottom: 20px;
    }

    p {
      margin: 0;
    }
  }
  
  .post-title {
    margin: -4px 0 0 0;
    padding: 0 0 11px 0;
    @include textShadow(-1px, -1px, 0px, rgba(0,0,0,0.5));
    
    a:hover {
      color: $orange;
    }
  }
  
  .post-subtitle {
    margin: 0;
    padding: 0;
  }
  
  .post-tweet {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }
  
  .post-tweetlink, 
  .post-tweetdate {
    font-family: $serifFont;
    text-decoration: none;
    color: $lightGreyFont;
  }
  
  .post-meta {
    display: block;
    padding: 0 0 10px 0;
    font-family: $serifFont;
    letter-spacing: 1px;
    
    span {
      
    }
  }
}


/* -------------------
  SEARCH BOX
-------------------- */
.search-box {
  form {
    overflow: hidden;
    padding-bottom: 5px;
    float: right;
    width: 31.25%;
    
    input[type="text"] {
      float: left;
      width: 80%;
      height: 31px;
    }
    
    input[type="submit"] {
      float: left;
      width: 16%;
      font-size: 4em;
      line-height: 1em;
      padding: 0;
      height: 51px;
      margin-top: -20px;
    }
  }
  
  .filters {
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
    width: 68.75%;
    
    li {
      list-style: none;
      float: left;
      display: block;
      font-size: 1.5em;
      letter-spacing: 1px;
      margin: 0;
      padding: 0 19px 0 0;

      @media only screen and (max-width: 615px) {
        padding-right: 10px;
      }
        
      &:last-of-type {
        padding: 0;
      }
      
      a {
        font-size: 1.2em;
        letter-spacing: 1px;
        text-decoration: none;
        color: rgba(224,218,216,1.0);
        
        &:hover {
          color: $orange;
        }
        
        @media only screen and (max-width: 615px) {
          font-size: 0.9em;
        }
        @media only screen and (max-width: 490px) {
          font-size: 0.6em;
        }
      }
    }
  }
}

.clicky-button--search {
    padding: 5px 2%;
    font-size: 1.1em;
    color: white;
}


/* -------------------
  SINGLE BLOG POST
-------------------- */

.post {
  background: $darkGrey;
  padding: 20px;
  margin-bottom: 40px;
  
  // Draw the inner shadow around header image.
  .post-border {
    
    .post-figure {
      display: block;
      position: relative;
      z-index: 1;
      
      .post-image {
        z-index: -1;
        display: block;
        width: 100%;
        position: relative;
      }
    }
    
    .post-figure::before {
      display: block;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      @include innerShadow(1px, 5px, 5px, 0px, 0.5);
    }
  }
  
  .post-title {
    font-size: 2.8em;
    text-align: left;
    margin: 0 0 20px 0;
  }
  
  .post-meta {
    font-family: $serifFont;
    padding-bottom: 12px;
  }
  
  .post-author {
    color: $lightGreyFont;
    font-size: 1em;
    font-family: $serifFont;
    color: $lightGreyFont;
  }
  
  .post-map {
    small {
      display: none;
    }
  }
}


/* -------------------
  POST COMMENTS
-------------------- */

#commentform {
  h2 {
    font-size: 1.7em;
  }
  
  input[type="text"], 
  textarea {
    margin: 0 0 10px 0;
    background: $lightGreyFont;
    color: $darkGreyFont;
  }
  
  input[type="submit"] {
    // width: 70px;
  }
  
  textarea {
    resize: none;
    padding: 15px;
  }
}
  
.commentlist {
  list-style: none;
  padding: 0;
  margin: 0;
  
  h2 {
    font-size: 1.6em;
  }
  
  .comment {
    margin: 0 0 20px 0;
    font-family: $serifFont;
    
    .comment-author {
      
    }
    
    .comment-meta {
      
    }
    
    p {
      margin: 0;
      padding: 0;
    }
  }
}

.related-header {
  margin: 10px 0 0 0;
  padding: 0;
}

.related-articles {
  margin: 0;
  padding: 0;
  
  .related-article {
    margin: 15px 0;
    padding: 0;
    list-style: none;
    line-height: 1.2em;
    font-size: 1.3em;
    
    a {
      color: $lightGreyFont;
      text-decoration: none;
      
      &:hover {
        color: $orange;
      }
    }
  }
}

/* -------------------
  FLICKR GALLERY (MASONRY)
-------------------- */

.flickr-gallery {
  
  .figure {
    margin-bottom: 10px;
    
    //img {
    //  width: 100%;
    //}
  }
}

img.pe2-photo.picasa-image {
  padding: 10px;
  border: none;
}