.partners {
	
	&.drawer {
		
		&.peek {
			height: 37px;
		}
	}
	
	.partners__content {
		
		&.show {
			display: block;
			height: auto;
		}
		&.hide {
			display: none;
			height: 0px;
		}
	}
	
	.partners-list {
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}
	}
}