/* --------------------------------
    Location Map Section
-------------------------------- */

#locations-center-tag {
	// background: none; // Remove the background on this center tag because there is a Canvas element handling the drawing.
}

#map-callout {
  @include transition(300ms);
  position: relative;
  background: url(../img/homepage/locations/map-callout.png) top left no-repeat;
  width: 535px;
  height: 218px;
  position: absolute;
  z-index: 1000;
  top: 138px;
  left: 50%;
  margin-left: -267px;
  padding: 20px;
  
  &.hide {
    display: none;
  }
  
  .map-callout-img {
    float: left;
    border: 1px solid $orange;
    width: 156px;
    height: 156px;
    margin-right: 20px;
    
    img {
      width: 100%;
    }
  }
  
  .map-callout-content {
    float: left;
    width: 55%;
  }
  
  h2 {
    color: $orange;
    font-size: 2.1em;
    margin: 0 0 10px 0;
  }

  p {
    color: #515052;
    margin: 0;
  }
}

.locations {
	position: relative;
	
  #locations-map {
    height: 500px;
  }
  
  .map-footer {
    h2 {
      float: left;
    }
    
    ul {
      margin: 0;
      padding: 0;
      float: right;
      
      li {
        list-style-type: none;
        float: left;
        margin: 4px 0 0 20px;
        padding: 0;
        
        a {
          text-decoration: none;
          
          &:hover {
            color: white;
          }
        }
      }
    }
  }
	
	.drawer__content {
		background: url(../img/homepage/locations/world.svg) top left no-repeat;
		background-size: 100% auto;
	}

	.locations-markers {
		position: absolute;
		top: 0;
		left: 0;

		.marker {
			display: block;
			background: url(../img/homepage/locations/marker.png) top left no-repeat;
			width: 30px;
			height: 36px;
			position: absolute;
			z-index: 10;
			
			h2 {
				display: none; // hide it because it gets moved to the callout
			}
			
			&.show {
				-webkit-animation: show 0.3s ease-out;
			}
			
			&.hide {
				-webkit-animation: hide 0.3s ease-out;
			}
		}
	}

	
}
