/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */






/* --------------------------------
    Common Elements
-------------------------------- */
.row {
    width: 900px;
    margin: 0 auto;
}

.main-title {
  font-family: "franklin-gothic-ext-comp-urw",sans-serif;
}

.secondary-title {
    font-family: "freight-text-pro",serif;
}

.divider {
    width: 900px;
    height: 3px;
    background: url(../img/divider.png) top left no-repeat;
}

.social {
    position: fixed;
    top: 300px;
    left: 0;
    width: 35px;
    height: 100px;
    background: #CCC;
}

.body-copy {
    font-family: "freight-text-pro",serif;
    font-size: 1.1em;
}


/* --------------------------------
    Main Header Section
-------------------------------- */
.header {
	background: url(../img/navbar-bg.png) top left repeat-x;
    background-size: contain;
	width: 100%;
    overflow: hidden;
    padding: 0 0 10px 0;
    margin: 0 0 -34px 0;
}
    .header .logo {
        padding: 10px 0 7px 50px;
    }
    .header .header-divider {
        background: url(../img/header-detail.png) top left no-repeat #e38e15;
        width: 100%;
        height: 2px;
    }
    .header .header-bottom {
        background: url(../img/shadow-top.png) top left repeat;
        width: 100%;
        height: 15px;
        position: relative;
        margin: 10px 0;
    }
    .header .header-bottom .center-tag {
        background: url(../img/center-tag-top.png) top center no-repeat;
        width: 158px;
        height: 35px;
        position: absolute;
        top: 0;
        left: 45%;
    }


/* --------------------------------
    Main Nav Section
-------------------------------- */
.mainnav {
    overflow: hidden;
    float: right;
    background: url(../img/divider-vert.png) top right no-repeat;
    min-height:79px;
}
    .mainnav .mainnav-item {
        float: left;
        padding: 5px 10px 0 0;
        color: #e38e15;
        text-transform: uppercase;
        font-family: "franklin-gothic-ext-comp-urw",sans-serif;
        font-size: 1.6em;
        letter-spacing: 0.09em;
        vertical-align: top;
        text-shadow: 0px -1px 0px #c57b12;
        filter: dropshadow(color=#c57b12, offx=0, offy=-1);
    }
    .mainnav .mainnav-item:last-of-type {
        padding-right: 28px;
    }


/* --------------------------------
    Intro Section
-------------------------------- */

.intro {
    background: url(../img/bgtile.png) top left repeat;
}

.intro .caption {
    overflow: hidden;
}
    .caption .intro-desc {
        color: #545353;
        float: left;
        width: 786px;
        padding: 0 30px 0 0;
    }
    .caption .what-we-do {
        display: block;
        background: url(../img/what-we-do.png) top left no-repeat;
        width: 84px;
        height: 114px;
        float: left;
        text-indent: -10000px;
    }
.intro .divider {
    padding-top: 50px;
    background-position: bottom;
}


/* --------------------------------
    Key Offerings Section
-------------------------------- */

.keyofferings {
    background: url(../img/bgtile.png) top left repeat;
    margin: 0 0 -25px 0;
}
    .keyofferings h1 {
        font-weight: normal;
        font-family: "freight-text-pro",serif;
        font-size: 3em;
        color: #666;
        text-align: center;
        margin-top: 0;
        padding-top: 0.5em;
    }
    .keyofferings .keyofferings-bottom {
        background: url(../img/shadow-keyofferings.png) top left repeat;
        width: 100%;
        height: 15px;
        position: relative;
        margin: 10px 0;
    }
    .keyofferings .keyofferings-bottom .center-tag {
        background: url(../img/center-tag-keyofferings.png) top center no-repeat;
        width: 302px;
        height: 55px;
        position: absolute;
        top: 0;
        left: 40%;
    }
    .keyofferings-list {
        overflow: hidden;
        margin: 0 auto 40px auto;
        padding: 0;
    }
        .keyofferings-list-item {
            float: left;
            margin: 0 90px 30px 0;
            display: block;
        }
        .keyofferings-list-item:nth-child(even) {
            margin-right: 0;
        }
        .keyofferings-list-item a {
            text-decoration: none;
            display: block;
            padding: 10px 0 6px 0;
            width: 405px;
            background: rgb(200,50,50);
            text-align: center;
            font-family: "franklin-gothic-ext-comp-urw",sans-serif;
            font-size: 1.6em;
            color: #fff;
            -webkit-box-shadow:  0px 2px 4px 0px rgba(0, 0, 0, 0.4);
                    box-shadow:  0px 2px 4px 0px rgba(0, 0, 0, 0.4);
        }
        .keyofferings-list-item a:hover, 
        .keyofferings-list-item a:active {
            -webkit-box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
                    box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
        }
        .keyofferings-list-item a.engineering {
            background: #3a6665; /* Old browsers */
            /* IE9 SVG, needs conditional override of 'filter' to 'none' */
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNhNjY2NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iIzU3OGU4YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iIzU3OGU4YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYTY2NjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
            background: -moz-linear-gradient(left,  #3a6665 0%, #578e8c 10%, #578e8c 90%, #3a6665 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, right top, color-stop(0%,#3a6665), color-stop(10%,#578e8c), color-stop(90%,#578e8c), color-stop(100%,#3a6665)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(left,  #3a6665 0%,#578e8c 10%,#578e8c 90%,#3a6665 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(left,  #3a6665 0%,#578e8c 10%,#578e8c 90%,#3a6665 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(left,  #3a6665 0%,#578e8c 10%,#578e8c 90%,#3a6665 100%); /* IE10+ */
            background: linear-gradient(to right,  #3a6665 0%,#578e8c 10%,#578e8c 90%,#3a6665 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a6665', endColorstr='#3a6665',GradientType=1 ); /* IE6-8 */
        }
        .keyofferings-list-item a.ideation {
            background: #d72b3f; /* Old browsers */
            /* IE9 SVG, needs conditional override of 'filter' to 'none' */
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q3MmIzZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2VjNTA2MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iI2VjNTA2MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNzJiM2YiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
            background: -moz-linear-gradient(left,  #d72b3f 0%, #ec5062 10%, #ec5062 90%, #d72b3f 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, right top, color-stop(0%,#d72b3f), color-stop(10%,#ec5062), color-stop(90%,#ec5062), color-stop(100%,#d72b3f)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(left,  #d72b3f 0%,#ec5062 10%,#ec5062 90%,#d72b3f 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(left,  #d72b3f 0%,#ec5062 10%,#ec5062 90%,#d72b3f 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(left,  #d72b3f 0%,#ec5062 10%,#ec5062 90%,#d72b3f 100%); /* IE10+ */
            background: linear-gradient(to right,  #d72b3f 0%,#ec5062 10%,#ec5062 90%,#d72b3f 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d72b3f', endColorstr='#d72b3f',GradientType=1 ); /* IE6-8 */
        }
        .keyofferings-list-item a.innovation {
            background: #dcb007; /* Old browsers */
            /* IE9 SVG, needs conditional override of 'filter' to 'none' */
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RjYjAwNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2YyY2EwZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iI2YyY2EwZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkY2IwMDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
            background: -moz-linear-gradient(left,  #dcb007 0%, #f2ca0d 10%, #f2ca0d 90%, #dcb007 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, right top, color-stop(0%,#dcb007), color-stop(10%,#f2ca0d), color-stop(90%,#f2ca0d), color-stop(100%,#dcb007)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(left,  #dcb007 0%,#f2ca0d 10%,#f2ca0d 90%,#dcb007 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(left,  #dcb007 0%,#f2ca0d 10%,#f2ca0d 90%,#dcb007 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(left,  #dcb007 0%,#f2ca0d 10%,#f2ca0d 90%,#dcb007 100%); /* IE10+ */
            background: linear-gradient(to right,  #dcb007 0%,#f2ca0d 10%,#f2ca0d 90%,#dcb007 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcb007', endColorstr='#dcb007',GradientType=1 ); /* IE6-8 */
        }
        .keyofferings-list-item a.education {
            background: #444446; /* Old browsers */
            /* IE9 SVG, needs conditional override of 'filter' to 'none' */
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ0NDQ0NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iIzU3NTg1YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iIzU3NTg1YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NDQ0NDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
            background: -moz-linear-gradient(left,  #444446 0%, #57585a 10%, #57585a 90%, #444446 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, right top, color-stop(0%,#444446), color-stop(10%,#57585a), color-stop(90%,#57585a), color-stop(100%,#444446)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(left,  #444446 0%,#57585a 10%,#57585a 90%,#444446 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(left,  #444446 0%,#57585a 10%,#57585a 90%,#444446 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(left,  #444446 0%,#57585a 10%,#57585a 90%,#444446 100%); /* IE10+ */
            background: linear-gradient(to right,  #444446 0%,#57585a 10%,#57585a 90%,#444446 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444446', endColorstr='#444446',GradientType=1 ); /* IE6-8 */
        }
        .keyofferings-list-item a.insights {
            background: #e78e22; /* Old browsers */
            /* IE9 SVG, needs conditional override of 'filter' to 'none' */
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U3OGUyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2YyYWQ0YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iI2YyYWQ0YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNzhlMjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
            background: -moz-linear-gradient(left,  #e78e22 0%, #f2ad4b 10%, #f2ad4b 90%, #e78e22 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e78e22), color-stop(10%,#f2ad4b), color-stop(90%,#f2ad4b), color-stop(100%,#e78e22)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(left,  #e78e22 0%,#f2ad4b 10%,#f2ad4b 90%,#e78e22 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(left,  #e78e22 0%,#f2ad4b 10%,#f2ad4b 90%,#e78e22 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(left,  #e78e22 0%,#f2ad4b 10%,#f2ad4b 90%,#e78e22 100%); /* IE10+ */
            background: linear-gradient(to right,  #e78e22 0%,#f2ad4b 10%,#f2ad4b 90%,#e78e22 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e78e22', endColorstr='#e78e22',GradientType=1 ); /* IE6-8 */
        }
        .keyofferings-list-item a.systhink {
            background: #82626d; /* Old browsers */
            /* IE9 SVG, needs conditional override of 'filter' to 'none' */
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgyNjI2ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2E4N2I4YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iI2E4N2I4YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4MjYyNmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
            background: -moz-linear-gradient(left,  #82626d 0%, #a87b8b 10%, #a87b8b 90%, #82626d 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, right top, color-stop(0%,#82626d), color-stop(10%,#a87b8b), color-stop(90%,#a87b8b), color-stop(100%,#82626d)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(left,  #82626d 0%,#a87b8b 10%,#a87b8b 90%,#82626d 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(left,  #82626d 0%,#a87b8b 10%,#a87b8b 90%,#82626d 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(left,  #82626d 0%,#a87b8b 10%,#a87b8b 90%,#82626d 100%); /* IE10+ */
            background: linear-gradient(to right,  #82626d 0%,#a87b8b 10%,#a87b8b 90%,#82626d 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82626d', endColorstr='#82626d',GradientType=1 ); /* IE6-8 */
        }

/* --------------------------------
    Case Studies Section
-------------------------------- */

.casestudies {
    padding: 0 0 30px 0;
    background: url(../img/case-studies-bgtile.png) top left repeat;
    -webkit-box-shadow: inset 0px 20px 120px 0px rgba(0, 0, 0, 0.4);
            box-shadow: inset 0px 20px 120px 0px rgba(0, 0, 0, 0.4);
}
    .casestudies h1 {
        font-family: "franklin-gothic-ext-comp-urw",sans-serif;
        font-size: 4em;
        color: #fff;
        text-align: center;
        margin: 0;
        padding-top: 1em;
    }

    .casestudies-desc {
        color: #fff;
    }

    .casestudies .casestudy {
        position: relative;
        padding: 20px 0 0 0;
    }
    .casestudies .casestudy p {
        font-family: "freight-text-pro",serif;
        color: #515052;
    }
    .casestudy .casestudy-images {
        background-size: contain;
        width: 100%;
        min-height: 1000px;
        position: absolute;
        background-position: top left;
        background-repeat: no-repeat;
    }
    .casestudy .casestudy-content {
        background: rgba(249,247,246, 0.9);
        padding: 20px;
        margin: 30px 0 0 340px;
        width: 373px;
        position: relative;
        -webkit-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.2);
                box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.2);
    }
    .casestudy .casestudy-content .paddles {
        width: 100%;
        position: absolute;
        display: block;
        padding: 0;
        margin: 0;
    }
    .casestudy .casestudy-content .paddles .paddle {
        position: absolute;
        display: block;
        top:180px;
        list-style-type: none;
    }
    .paddles .paddle a {
        display: block;
        text-indent: -10000px;
        width: 52px;
        height: 58px;
        background: #e78d1f;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U3OGQxZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2YyYWQ0YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iI2YyYWQ0YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNzhkMWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(left,  #e78d1f 0%, #f2ad4b 10%, #f2ad4b 90%, #e78d1f 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e78d1f), color-stop(10%,#f2ad4b), color-stop(90%,#f2ad4b), color-stop(100%,#e78d1f));
        background: -webkit-linear-gradient(left,  #e78d1f 0%,#f2ad4b 10%,#f2ad4b 90%,#e78d1f 100%);
        background: -o-linear-gradient(left,  #e78d1f 0%,#f2ad4b 10%,#f2ad4b 90%,#e78d1f 100%);
        background: -ms-linear-gradient(left,  #e78d1f 0%,#f2ad4b 10%,#f2ad4b 90%,#e78d1f 100%);
        background: linear-gradient(to right,  #e78d1f 0%,#f2ad4b 10%,#f2ad4b 90%,#e78d1f 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e78d1f', endColorstr='#e78d1f',GradientType=1 );
    }
    .casestudy .casestudy-content .paddles .paddle.prev {
        left: -72px; /* 52px (width of paddle) + 20px (padding on .casestudy-content) */
    }
    .casestudy .casestudy-content .paddles .paddle.next {
        right: -32px;
    }

    .casestudy-content h1 {
        font-family: "franklin-gothic-ext-comp-urw",sans-serif;
        font-size: 2em;
        color: #f89728;
    }
    .casestudy-content .casestudy-content-header {

    }


/* --------------------------------
    Team Section
-------------------------------- */

.team {
    background: url(../img/bgtile.png) top left repeat;
}
.team h1 {
    font-family: "freight-text-pro",serif;
    color: #514f52;
    font-weight: normal;
    font-size: 3em;
    margin-top: 0;
    padding: 1em 0 0 0;
    text-align: center;
    letter-spacing: 1px;
}
.team h1 .emphasized {
    font-family: "franklin-gothic-ext-comp-urw",sans-serif;
    text-transform: uppercase;
}
.team h1 .emphasized.title-first {
    color: #f89728;
}
.team h1 .emphasized.title-second {
    color: #84b6b4;
}
.team h1 .emphasized.title-third {
    color: #8c717a;
}

.team .team-members {
    overflow: hidden;
}
.team .team-members li {
    display: block;
    float: left;
    width: 178px;
}
.team .team-members li img {
    border: 1px solid rgb(248, 151, 40);
}
.team .team-members li h3,
.team .team-members li h4,
.team .team-members li h5 {
    margin: 0;
    padding: 0;
    font-family: "franklin-gothic-ext-comp-urw",sans-serif;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: normal;
    letter-spacing: 1.5px;
    color: #fff;
    line-height: 1;
    text-shadow: 1px 1px 0px rgb(80,80,80);
    filter: dropshadow(color=#666666, offx=1, offy=1);
}
.team .team-members li h3 {
    padding-bottom: 0.5em;
}
.team .team-members .team-member {
    overflow: hidden;
    position: relative;
    margin: 0 15px 15px 0;
}
.team .team-members .team-member-details {
    position: absolute;
    background: rgba(248,151,40, 0.85);
    top: 140px;
    left: 0;
    padding: 10px;
    -webkit-transition: all 0.5s ease-in-out;
}
.team .team-members .team-member-details:hover {
    top: 0;
}








/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
