
body {
	margin: 0;
	padding: 0;
	background: url(../img/bgtile.png) top left repeat;
}

.wrap {
	width: 900px;
	margin: 0 auto;
}

.main-title {
  font-family: "franklin-gothic-ext-comp-urw",sans-serif;
}

.secondary-title {
	font-family: "freight-text-pro",serif;
}

.intro-desc {
	color: #545353;
	font-family: "freight-text-pro",serif;
	font-size: 1.1em;
}

.divider {
	width: 900px;
	height: 3px;
	background: url(../img/divider.png) top left no-repeat;
}