/* --------------------------------
    SASS Variables
-------------------------------- */

$orange: rgb(248, 151, 40);
$pink: rgb(236, 80, 98);
$teal: rgb(132, 182, 180);
$greyFont: rgb(81, 79, 82);
$serifFont: "freight-text-pro",serif;
$sansFont: "franklin-gothic-ext-comp-urw",sans-serif;