/* --------------------------------
    Common Elements
-------------------------------- */

body {
    background: url(../img/bgtile.png) top left repeat;
}

h1, h2, h3, h4, h5, p {
    font-family: $serifFont;
    color: #514f52;
}
h1 {
    font-size: 3em;
    text-align: center;
    font-weight: normal;

    .emphasized {
        font-family: $sansFont;
        text-transform: uppercase;
    }
}

section {
    background: url(../img/shadow-top.png) top left repeat-x;
}

.level-one {
    color: $orange;
}
.level-two {
    color: $pink;
}
.level-three {
    color: $teal;
}

.row {
    width: 900px;
    margin: 0 auto;
}
.row-header {
    padding: 0 30px;
}

.center-tag {
    background: url(../img/center-tag-keyofferings.png) top center no-repeat;
    width: 302px;
    height: 55px;
    margin: 0 auto;
}

.main-title {
  font-family: $sansFont;
}

.secondary-title {
    font-family: $serifFont;
}

.divider {
    width: 900px;
    height: 3px;
    background: url(../img/divider.png) top left no-repeat;
}

.social {
    position: fixed;
    top: 300px;
    left: 0;
    width: 35px;
    height: 100px;
    background: #CCC;
}

.body-copy {
    font-size: 1.1em;
}