/* --------------------------------
    Common Elements
-------------------------------- */

body {
    background: url(../img/bgtile.jpg) top left repeat;
}

h1, h2, h3, h4, h5, p {
    font-family: $serifFont;
    color: rgb(200,200,200);
    font-size: 1em;
}
h1 {
    font-size: 3em;
    text-align: center;
    font-weight: normal;

    .emphasized {
        font-family: $sansFont;
        text-transform: uppercase;
    }
}

section {
    background: url(../img/shadow-top.png) top left repeat-x;
}

.level-one {
    color: $orange;
}
.level-two {
    color: $pink;
}
.level-three {
    color: $teal;
}

.row {
    width: 900px;
    margin: 0 auto;
}
.row-header {
    padding: 0 30px;
}

.center-tag {
    background: url(../img/center-tag.png) top center no-repeat;
    width: 319px;
    height: 55px;
    margin: 0 auto;
}

.main-title {
  font-family: $sansFont;
}

.secondary-title {
    font-family: $serifFont;
}

.divider {
    width: 900px;
    height: 3px;
    background: url(../img/divider.png) top left no-repeat;
}

.drawer {
    padding: 0 0 30px 0;
    -webkit-box-shadow: inset 0px 20px 120px 0px rgba(0, 0, 0, 0.4);
            box-shadow: inset 0px 20px 120px 0px rgba(0, 0, 0, 0.4);

    p {
        color: rgba(255,255,255,0.80);
        font-size: 1.1em;
    }
}