/* --------------------------------
    SASS Variables
-------------------------------- */

$orange: rgb(248, 151, 40);
$pink: rgb(236, 80, 98);
$teal: rgb(132, 182, 180);
$yellow: rgb(242, 102, 13);
$orange: rgb(242, 173, 75);
$grey: rgb(87, 88, 90);
$purple: rgb(168, 123, 139);
$greyFont: rgb(81, 79, 82);
$serifFont: "freight-text-pro",serif;
$sansFont: "franklin-gothic-ext-comp-urw",sans-serif;

@mixin gradient($color) {
    background: -moz-linear-gradient(left, darken($color, 10%) 0%, $color 10%, $color 90%, darken($color, 10%) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,darken($color, 10%)), color-stop(10%,$color), color-stop(90%,$color), color-stop(100%,darken($color, 10%))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  darken($color, 10%) 0%,$color 10%,$color 90%,darken($color, 10%) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, darken($color, 10%) 0%,$color 10%,$color 90%,darken($color, 10%) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, darken($color, 10%) 0%,$color 10%,$color 90%,darken($color, 10%) 100%); /* IE10+ */
    background: linear-gradient(to right, darken($color, 10%) 0%,$color 10%,$color 90%,darken($color, 10%) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color', endColorstr='$color',GradientType=1 ); /* IE6-8 */
}