/* --------------------------------
    Location Map Section
-------------------------------- */

.locations {

}
.locations h1 {
    font-family: $sansFont;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 3px;
}