/* --------------------------------
    Main Header Section
-------------------------------- */
.header {
	background: url(../img/homepage/navbar-bg.png) top left repeat-x;
    background-size: contain;
	width: 100%;
    overflow: hidden;
    padding: 0 0 10px 0;
    margin: 0;
    
    .logo {
        padding: 10px 0 7px 50px;
    }
    .header-divider {
        background: url(../img/homepage/header-detail.png) top left no-repeat #e38e15;
        width: 100%;
        height: 2px;
    }
    .header-bottom {
        background: url(../img/homepage/shadow-top.png) top left repeat;
        width: 100%;
        height: 15px;
        position: relative;
        margin: 10px 0;
    }
}

/* --------------------------------
    Main Nav Section
-------------------------------- */
.mainnav {
    overflow: hidden;
    float: right;
    background: url(../img/homepage/divider-vert.png) top right no-repeat;
    min-height:79px;
    
    .mainnav-item {
        float: left;
        padding: 5px 35px 0 0;
        color: #e38e15;
        text-transform: uppercase;
        font-family: $sansFont;
        font-size: 1.6em;
        letter-spacing: 0.09em;
        vertical-align: top;
        text-shadow: 1px 1px 0px rgba(255,255,255,0.3);
    }
    .mainnav-item:last-of-type {
        padding-right: 28px;
    }
}